<link rel="stylesheet" href="../styles/footer.css" />
<div class="footer__div">
    <section class="location__section">
        <h3>Location:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.6143621112647!2d5.164457777614628!3d52.08674966821463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c668998390e181%3A0x3ed19711c96ff94d!2sMinnaertgebouw!5e0!3m2!1snl!2snl!4v1681493917643!5m2!1snl!2snl" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <p>&copy; 2023 INFOB2WT G07</p>
</div>