<link rel="stylesheet" href="styles/header.css" />
<div class="header__div">
    <p class="header__title">Logo</p>
    <nav class="header__nav">
        <ul>
            <li><p>Homepage</p></li>
            <li><p>Order</p></li>
            <li><p>Login</p></li>
            <li><p>Register</p></li>
        </ul>
    </nav>
</div>