<link rel="stylesheet" href="../styles/header.css" />
<div class="header__div">
  <a href="/">
    <img src="/images/Sathe_logo_1_rounded.png" class="header__image"/>
  </a>
  <a href="/login" class="header__login-profile-button" target="_self">
    <%= login%>
  </a>
</div>
