@font-face {
  font-family: shrekFont;
  src: url(resources/shrek_font.ttf);
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid Black;
  padding: 20px;
  font-family: shrekFont;
  text-align: center;
}
th {
  background-color: darkgreen;
}
td {
  background-color: #e9dfac;
}
table {
  margin-left: auto;
  margin-right: auto;
}
article li h1 {
  text-align: center;
}

.more-info {
  background-color: #e9dfac;
  text-align: center;
}
ul.myul {
  display: inline-block;
  text-align: left;
}
#larger-h1tag {
  font-size: xx-large;
}

p,
h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.article-list {
  padding-bottom: 20px;
}
