@font-face {
    font-family: shrekFont;
    src: url(resources/shrek_font.ttf);
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid Black;
    padding: 20px;
    font-family: shrekFont;
    text-align: center;
}
th{
    background-color: darkgreen;
}
td{
    background-color:#e9dfac ;
}
table{
    margin-left: auto;
    margin-right: auto;
}
article h1, article section{
    text-align: center;
}
.more-info{
    background-color:#e9dfac ;
}