@font-face {
  font-family: shrekFont;
  src: url(resources/shrek_font.ttf);
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url(images/shrek-hot-topic-bg-3.jpg);
  max-height: 40vh;
  background-position: top;
}
table {
  margin-top: 20px;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.title h1 {
  color: #fff;
  font-family: shrekFont;
  font-size: 5rem;
  padding-bottom: 5%;
}
td,
th {
  border: 1px solid Black;
  padding: 20px;
  font-family: shrekFont;
  text-align: center;
  
}
th {
  background-color: darkgreen;
}
td {
  background-color: #e9dfac;
}
td img{
  height: 150px;
  width: 100px;
}
article li h1 {
  text-align: center;
}

.content-wrapper{
  max-width: 90%;
  margin: 20px 10%;
  line-height: 1.8;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.info-list {
  display: block;
  text-align: left;
  list-style-type: none;
}

.info-list li.article-list {
  border-style: solid;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding-left: 30px;
}

@media only screen and (max-width: 600px) {
  .actors {
    display: flex;
    justify-content: center;
  }
  .actors__table {
    width: 10vw;
    height: 98vh;
  }
}

@media only screen and (min-width: 601px) {
  .actors {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .actors__table {
    width: 60vw;
    height: 98vh;
  }
}