.banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url(images/shrek_relatedtopics_01.jpg);
    max-height: 40vh;
    background-position: 0% 35%;
}

#title h1 {
    font-family: shrekFont;
    font-size: 5rem;
    padding-bottom: 5%;
}