.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/shrek_reviewpage_03.jpg);
    max-height: 40vh;
    background-position: top;
}
#title p {
    font-size: 5rem;
}
.reviews h3 {
    font-size: 1.5rem;
}
.reviews {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.reviews h2, p {
    margin: 0%;
    padding: 1%;
}
.top-reviews,
.bottom-reviews {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.top-reviews {
    margin-top: 3%;
}
.bottom-reviews {
    margin-bottom: 5%;
}
.review {
    flex-basis: 45%;
    background: #85c44a;
    border-radius: 15px;
    padding: 2% 2%;
    box-sizing: border-box;
}
.image1 {
    float: right;
    align-items: center;
    justify-content: center;
    max-width: 10%;
    max-height: 10%;
}
.image2 {
    float: left;
    align-items: center;
    justify-content: center;
    max-width: 10%;
    max-height: 10%;
}