.banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/shrek_reviewpage_03.jpg);
    max-height: 40vh;
    background-position: top;
}
#title h1 {
    font-family: shrekFont;
    font-size: 5rem;
    padding-bottom: 5%;
}
.reviews h3 {
    font-size: 1rem;
}
.reviewArticle {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.reviews h2, p {
    margin: 0%;
    padding: 1%;
}
.all-reviews {
    margin-top: 5%;
    justify-content: space-between;
}
.review {
    border-radius: 15px;
    padding: 2% 2%;
}
.image1 {
    float: right;
    align-items: center;
    justify-content: center;
    max-width: 8%;
    max-height: 8%;
}
.image2 {
    float: left;
    align-items: center;
    justify-content: center;
    max-width: 8%;
    max-height: 8%;
}
.reviewImage1 {
    background: url(images/PeterBradshaw1.jpg)
}
.reviewImage2 {
    background: url(images/BenFalk2.jpg);
}
.reviewImage3 {
    background: url(images/DessonThomson.jpg);
}
.reviewImage4 {
    background: url(images/LouLumenick1.jpg);
}