@font-face {
  font-family: shrekFont;
  src: url(resources/shrek_font.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: #e9dfac;
}

.banner {
  width: 100%;
  height: 93vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url(images/shrek_homepage_01.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav ul li {
  font-size: 1.2rem;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
nav ul li a {
  font-family: shrekFont;
  text-decoration: none;
  color: #e9dfac;
}
nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #4b6d2c;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul li:hover::after {
  width: 100%;
}
.logo {
  width: 20%;
  max-width: 200px;
  cursor: pointer;
}
#title {
  width: 100%;
  position: absolute;
  top: 30%;
  transition: translateY(-50%);
  text-align: center;
  color: white;
}
#title p {
  font-family: shrekFont;
}
.title__text {
  padding-bottom: 20px;
  width: 30%;
}
.button-link__style {
  font-family: sans-serif;
  font-weight: bold;
  width: 30%;
  max-width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid #4b6d2c;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button-link__text {
  background: #4b6d2c;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: -1;
}
.button-link__style:hover .button-link__text {
  width: 100%;
}
.button-link__style:hover {
  border: none;
}
.button-link {
  text-decoration: none;
}
/*Banner section ends here*/
#filler {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 0;
  background-color: #4b6d2c;
}
#filler h2 {
  color: #fec53a;
  font-size: 2.5rem;
  font-weight: 400;
}

.hot-topic {
  overflow: hidden;
  position: relative;
  width: 80%;
  left: 10%;
  padding: 12px;
  height: 300px;
}

.hot-topic img {
  display: flex;
}

.hot-topic__image1 {
  background-image: url(images/shrek-hot-topic-bg-1.jpg);
}

.hot-topic-content {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  padding: 10px 20px;
  line-height: 1.3;
  color: #f3f3f3;
}

.hot-topic h2 {
  padding: 10px 0;
  font-size: 18px;
  text-shadow: 0 0 2px #000;
}

.hot-topic h3 {
  padding: 10px 0;
  font-size: 16px;
  text-shadow: 0 0 2px #000;
}

.hot-topic p {
  padding: 10px 0;
  font-size: 15px;
  text-shadow: 0 0 2px #000;
  padding: 12px 10px;
}

.hot-topic-content a {
  display: block;
  background: #f3f3f3;
  border: none;
  width: 95px;
  border-radius: 2px;
  text-align: center;
  padding: 7px 10px;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.hot-topic-content a:hover {
  text-decoration: underline;
}
