html {
  scroll-behavior: smooth;
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url(images/shrek-hot-topic-bg-1.jpg);
  max-height: 40vh;
  background-position: top;
}
.title h1 {
  color: #fff;
  font-family: shrekFont;
  font-size: 5rem;
  padding-bottom: 5%;
}
.thumbnail {
  height: 20%;
  width: 20%;
  margin: 20px;
}
.summary {
  margin: 20px 10%;
  line-height: 1.8;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.summary__title .ssummary__content {
  position: relative;
  height: fit-content;
  padding-bottom: 0;
}

.summary__content,
.summary__title,
h3 {
  margin: 20px;
  min-height: auto;
  height: fit-content;
  padding: 0 10px;
  white-space: normal;
}
p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .banner {
    max-height: 30vh;
  }

  .thumbnail {
    height: 90%;
    width: 90%;
    margin: 5%;
  }

  .summary {
    width: 100%;
    margin: 0;
  }
  h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
}
