<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/register.css" />
  </head>
  <body>
    <div>
      <form action="/register" method="POST">
        <input type="text" name="firstname" placeholder="John" />
        <input type="text" name="lastname" placeholder="Johnson" />
        <input type="text" name="email" placeholder="john.johnson@gmail.com" />
        <input type="text" name="username" placeholder="username" />
        <input type="text" name="password" placeholder="password" />
        <input
          type="text"
          name="address"
          placeholder="Astraat 2 1234AB Utrecht"
        />
        <input
          type="text"
          name="credit_card"
          placeholder="XXXX-XXXX-XXXX-XXXX"
        />
        <p><%= failed %></p>
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
