.footer__div {
    background-color: rgb(255, 197, 38);
    margin-top: 10px;
}

.location__section {
    display: flex;
    padding: 10px;

}

.location__section h3 {
    padding-right: 10px;
    color: black;    
}

.location__section p {
    padding-left: 10px;
    margin-top: 24px;
}

.footer__div p {
    text-align: center;
    color: black;
}
