.header__div {
    display: flex;
    align-items: center;
}

.header__title {
    text-align: left;
    text-decoration: none;
    width: 50%;
}

.header__nav {
    justify-content: space-between;
    text-align: right;
    width: 50%;
}

.header__nav ul {
    list-style-type: none;
}

.header__nav ul li {
    display: inline-block;
    align-items: center;
}