.header__div {
    display: block;
    align-items: center;
    width: 100%;
}

.header__image {
    width: 150px;
}

.header__login-profile-button {
    display: inline;
    float: right;
    width: 150px;
    text-align: center;
    background-color: rgb(255, 197, 38);
    border-radius: 25px;
    outline: none;
    font-size: 2vw;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin-top: 63px;
}