* {
  font-family: 'Kanit', sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
  url(../poster/Shrek.jpg);
}

.title {
  text-align: center;
}

.form__button--browse-movies {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.wrapper {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
  padding: 0 10%;
  overflow: hidden;
}

.movie {
  box-sizing: border-box;
  width: 25%;
  height: 33.33%;
  padding: 10px;
  text-align: center;
  height: 520px;
  overflow: hidden;
  border: 1px sold black;
}

.movie img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  height: 100%;
}

#load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#load-more {
  background-color: #f44336;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
